/* Header */
body{
    background-image: url(./backend/Illustration2.jpg);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  color: #000;
  opacity: 0.85;
  height: 78px;
  z-index: 12;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 87px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  padding-top: 20px;
}

.menu-items li {
  list-style: none;
  margin-left: 4.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
}

.logo img {
  width: 35%;
  padding-top: 18px;
}

/* ............/Présentation/............ */


.photo-rafclan {
  display: flex;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -75%);
  flex-direction: column;
  background: 
  linear-gradient(
      to right, #000, #333, #555,#fff,#fff,#555,#333,#000
    ),
    linear-gradient(
      to right, #000, #333, #555,#fff,#fff,#555,#333,#000
    )
     
    white;
    background-size:100% 5px;
    padding:5px 10px

  
}

.photo-rafclan img {
  width:100%;
}

.paragraphe {
  background-color: black;
  opacity: 0.5;
}
.paragraphe h1 {
  color:#fff;
  padding-top: 15px;
}