/* Header */
body{
    background-image: url(./backend/gris.jpg);
}

.navbar-brand img {
    width: 190px;
    padding: 3px 0 0 8px;
}

.navbar, .productCard {
    display: flex;
    border-radius: 20px;
}

.container-gris img{
    width: 100%;
    height: 108px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.navbar {
    justify-content: space-between;
}

.internal-link {
    padding-top: 35px;
}

.productCard, .cardProduct, .internal-link a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.internal-link a {
    padding-right: 25px;
}

/* Bloc 1 -- Présentation */

.jumbotron {
    position: relative;
}
.jumbotron img {
    width: 100%;
    border-radius: 20px;
    margin-top: 12px;
    object-fit: cover;
}


.jumbotron > .text-jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    text-shadow: 1px 1px 2px #24111f;
}

/* Produits */

.productCard, .cardProduct {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    height: 400px;
}

.productImage, .imageProduct {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.productPrice, .priceProduct {
    border: 7px white solid;
    background-color: white;
} 

.namePrice, .priceName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.productStory, .storyProduct {
    padding: 0 10px;
    margin-top: 15px;
}

.productDescription, .descriptionProduct {
    margin-bottom: 15px;
    font-size: 15px;
}

#product {
    background-color: rgb(243, 233, 241);
    height: 510px;
    border-radius: 12px;
}

#supprimer {
    height: 45px;
    width: 59px;
    margin-top: 42px;
}

button {
    background-color: rgb(204, 204, 255);
    font-weight: bold;
}
/* Panier */

.titrePanier {
    font-size: 24px;
}

#articleImage {
    width: 50%;
    padding: 10px 0 10px 5px;
}

#basket-resume {
    margin-top: 10px;
}

.contenantArticle {
    display: flex;
    justify-content: space-evenly;
    background-color: #F2E0E0;
    border: 4px solid lightslategrey;

}

.contenantDescription {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    width: 50%;
}

.form-control {
    display: block;
    width: 90%;
    height: 5px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.confirmation {
    text-align: center;
    border: 3px darkviolet dashed;
    margin-top: 10px;
}

/* breakpoint */
@media only screen and (min-width: 768px){

#supprimer {
    width: 30px;
    position: absolute;
    margin-top: 94px;
    left: 30px;
}

#articleImage {
    width: 30%
}

.color {
    position: absolute;
    margin-left: 639px;
    margin-top: -127px;
}

.contenantDescription {
    line-height: 8;
    flex-direction: row;
}
}

@media only screen and (min-width: 992px){

    .container-page {
        max-width: 1250px;
	    margin: auto;
    }

    .productCard {
        width: calc( 33.33% - 20px);
    }

    .jumbotron img {
        height: 500px;
    }

    .cardProduct {
        padding: 0;
        display: flex;
        margin-top: 15px;
        width: 100%;
        flex-direction: row;
    }
    
    #supprimer {
        left: 44px;
        margin-top: 178px;
    }

    .imageProduct {
        height: 100%;
        width: 50%;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .priceName {
        text-align: center;
    }

    .descriptionProduct {
        padding: 45px 0;
        font-size: 32px;
    }

    #boutons {
        display: flex;
        justify-content: space-around;
    }

    #product {
        height: 482px;
    }

    .contenantDescription {
        line-height: 8;
    }
    
}

footer {
    text-transform: capitalize;
    text-align: center;
}

@media only screen and (min-width: 1150px){

    .contenantDescription {
        line-height: 8;
    }
}